<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Top COVID-19 News in Indonesia
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <div class="container">
        <div class="card newscard mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid cardimg rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Loading...</h5>
                <p class="card-text">Loading...</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div>
                  <a class="btn btn-more" href="#info" target="_blank" style="float: right!important;"><span style="float: left;">Go</span><span style=" float: right"><i class="fas fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card newscard mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start cardimg" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Loading...</h5>
                <p class="card-text">Loading...</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div>
                  <a class="btn btn-more" href="#info" target="_blank" style="float: right!important;"><span style="float: left;">Go</span><span style=" float: right"><i class="fas fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card newscard mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid cardimg rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Loading...</h5>
                <p class="card-text">Loading...</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div>
                  <a class="btn btn-more" href="#info" target="_blank" style="float: right!important;"><span style="float: left;">Go</span><span style=" float: right"><i class="fas fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text text-left mt-3"><small class="text-muted">from newsapi.org</small></p>
</div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Top COVID-19 Hoax in Indonesia
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="card hoaxcard mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid cardimg rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Loading...</h5>
                  <p class="card-text">Loading...</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card hoaxcard mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start cardimg" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Loading...</h5>
                  <p class="card-text">Loading...</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card hoaxcard mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid cardimg rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Loading...</h5>
                  <p class="card-text">Loading...</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <p class="card-text text-left mt-3"><small class="text-muted">from detax.org</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Tautan Penting
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="card tautancard mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://yankes.kemkes.go.id/app/siranap/images/logo_kemkes_2.png" class="img-fluid cardimg rounded-start" alt="Siranap Kemkes">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">SIRANAP V 3.0</h5>
                  <p class="card-text">Cari rumah sakit yang tersedia untuk penyintas COVID-19 maupun Non COVID-19</p>
                  <div>
                    <a class="btn btn-more" href="https://yankes.kemkes.go.id/app/siranap/" target="_blank" style="float: right!important;"><span style="float: left;">Go</span><span style=" float: right"><i class="fas fa-angle-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>